
.ProjectCard{
    background-color: red;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    padding: 20px;
    box-sizing: border-box;
}
.ProjectCard h2, .ProjectCard p{
  width: 100%;
}
.ProjectCard img{
   
    width: 90%;
    height: 300px;
    object-fit: cover;
}